a{ text-decoration: none;color: black;}

body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation-fill-mode: both;
animation: background-in 4s ease-in-out 3s both;
background-color: #06060f;
    background-image: url(img/desktop.jpg);
    background-size: cover;
    background-position: center;
}
.centerTextInDive{ 
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: right;
  width: 100%;
}
.centerTextInDive>p{
  width: 100%;
  margin: 10px;
}
/* --------------- Opening Image ------------------- */


.opening{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  animation: focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both, flicker-out-1 2s ease-in-out 3s both;
}
 /* --------------- animation ------------------- */
/*
 @keyframes focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes flicker-out-1 {
  0% {
    opacity: 1;
  }
  13.9% {
    opacity: 1;
  }
  14% {
    opacity: 0;
    box-shadow: none;
  }
  14.9% {
    opacity: 0;
    box-shadow: none;
  }
  15% {
    opacity: 1;
  }
  22.9% {
    opacity: 1;
  }
  23% {
    opacity: 0;
    box-shadow: none;
  }
  24.9% {
    opacity: 0;
    box-shadow: none;
  }
  25% {
    opacity: 1;
  }
  34.9% {
    opacity: 1;
  }
  35% {
    opacity: 0;
    box-shadow: none;
  }
  39.9% {
    opacity: 0;
    box-shadow: none;
  }
  40% {
    opacity: 1;
  }
  42.9% {
    opacity: 1;
  }
  43% {
    opacity: 0;
    box-shadow: none;
  }
  44.9% {
    opacity: 0;
    box-shadow: none;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  54.9% {
    opacity: 1;
  }
  55% {
    opacity: 0;
    box-shadow: none;
  }
  69.4% {
    opacity: 0;
    box-shadow: none;
  }
  69.5% {
    opacity: 1;
  }
  69.9% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    box-shadow: none;
  }
  79.4% {
    opacity: 0;
    box-shadow: none;
  }
  79.9% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    box-shadow: none;
  }
  89.8% {
    opacity: 0;
    box-shadow: none;
  }
  89.9% {
    opacity: 1;
    box-shadow: none;
  }
  90% {
    opacity: 0;
    box-shadow: none;
    visibility: hidden;
  }
  100% {
    opacity: 0;
  }
}
@keyframes background-in {
  0% {
    background-color: white;
  }
  100% {
    background-color: #06060f;
    background-image: url(img/desktop.jpg);
    background-size: cover;
    background-position: center;
  }
}
*/


/* --------------- openclosebar ------------------- */
.closeflex{
  display: flex;
  font-size: 80%;
  font-weight: 300;
  position: absolute;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: auto;
  margin: 0;
  padding: 0;
}

.closeflex p{
  margin: 0;
  padding: 3% 10%;
  color: white;
  height: 23px;
  width: 23px;
}
.galleryFolder .closeflex p{ color: black;}
.closeflex p:hover{
  color: white;
  background-color: rgba(204, 49, 21, 0.801);
  cursor: pointer;
}
.closeBar{
  background-color: #1d2026c7;
  position: absolute;
  height: 23px;
  top: 0;
  text-align: center;
  font-weight: 500;
  color: white
}

iframe{ opacity: .98;}
/* --------------- gallery folder design ------------------- */
.galleryFolder{
  display: none;
  position: absolute;
  top:15vh;
  left: 25vw;
  height: 450px;
  width: 700px;
}
.gallerybackground{
  height: 100%;
  width: 100%;
}


/* --------------- resume Doc ------------------- */

.resume{
  position: absolute;
  top:5vh;
  left: 18vw;
  display: none;
}

/* --------------- spotify ------------------- */
#spotify{
position: absolute;
left: 30%;
top: 20%;
display: none;
}
/* --------------- facebook ------------------- */
#facebook{
  position: absolute;
  left: 20%;
  top: 1%;
  display: none;
  }
/* --------------- desktop icons ------------------- */

.desktop{
  animation: focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 6s both;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap-reverse;
  height: 97vh;
}
.desktop>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 80px;
  text-align: center;
  margin: 8px;
  padding: 4px;
}

.desktop>div:hover{
cursor: pointer;
border: 1px solid #58677d;
background-color: #3d608a81;

}
.desktop img{
  height: auto;
  width: 4vw;
}
.desktop p{
  font-size: 10px;
  margin: 7px 0;
  color: white;
  text-transform: capitalize;
}

/* --------------- shutdown ------------------- */
.turnOff{
  height: 98px;
  width: 240PX;
  display: none;
  grid-template-rows: 33.3% 33.3% 33.4%;
  background-image: url(img/shutdown/select380x155.png);
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 80px;
  z-index: 1;
}

/* --------------- powerOffWindow ------------------- */
#powerOff{
  position: absolute;
height: 100%;
width: 100%;
background-color: #02599c;
z-index: 1;
display: none;
justify-content: center;
align-items: center;
z-index: 2;
} 
/* --------------- sleepWindow ------------------- */
#sleep{
  position: absolute;
height: 100%;
width: 100%;
background-color: #0e1113f3;
z-index: 1;
display: none;
justify-content: center;
align-content: center;
} 
#sleep:hover{
  cursor: default;
}

#bigTime{
  height: 300px;
  width: auto;
  font-size: 200px;
  color: rgba(255, 255, 255, 0.144);
}
/* --------------- start click menu ------------------- */
.startClick{
  color: white;
  background-color: #1d2026d3;
  /* background-color: white; */
  height: 80vh;
  width: 60vw;
  position: absolute;
  bottom: 40px;
  right: 0;
  display: none;
  grid-template-columns:60% 36% 2%;
  z-index: 1;
}

/* .startClick>div{
  border: 2px solid white;
} */
.sideClickMenu{
width: 40px;
height: 40px;
}
.sideClickMenu>i{
padding: 10px;
font-size: 1.3vw;
}

.box3{
  display: grid;
  grid-template-rows:8% auto 8% 8% 8% ;
  justify-content: center;
  align-items: center;
  margin: 17px 0 0 0;
}

.clickMenuBox{
  margin: 12px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  
}
.startClickMenu{
  padding: 2px 0;
  width: 100%;
  text-align: right;
  display: none;
  justify-content: center;
  align-items: center;
}

.startClickMenu img{
  background-color: cadetblue;
  padding: 4px;
  height: 34px;
  width: 34px;
}
.startClickMenu>div:hover{background: none;}
.squreImg{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.squreImg div{
  height: 6vw;
  width: 6vw;
  background-color: cadetblue;
  margin: 4px;
}
.squreImg img{
  height: 6vw;
  width: 6vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.squreImg img:hover{
  filter: invert(0.1);
  cursor: pointer;
}

/* --------------- start menu ------------------- */

.startMenu{
  animation: focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 6s both;
  color: white;
  background-color: #1d20269f;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 3.5% 6% 3.5% auto 3.5% 3.5%;
  grid-template-rows: 40px;
  justify-items: center;
  align-items: center;
  z-index: 1;
}
.startMenu>div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#startMenuIcons{
  font-size: 1.3vw;
  color: white; 
  transition: color .5s;
}
#startMenuIcons:last-child:hover{ color: cadetblue;}
.flexWindows{ 
  display: flex;
  margin: 0;
  padding: 0;
 width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-content: center;
}
.openWindow{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2px;
  text-align: right;
border-bottom: 3px solid #97e9ef93;
height: 100%;
width: 17vw;
margin: 0 0.2vw;
font-size: 70%;
}

.openWindow:hover,.startMenu>div:hover,.startClickMenu:hover,.sideClickMenu:hover,.centerTextInDive:hover,.shutDownHover:hover{
  background-color: #3139447c;
  cursor: pointer;
}

.openWindowIcon{
  margin: 0 10px;
  height: auto;
  width: 2vw;
}

.timeDate{
  flex-direction: column;
  text-align: center;
  color: white;
  margin: auto;
  font-size: 1vw;
  margin: 0;  font-weight: 100;
  }
  .timeDate h4{ margin: 0;  font-weight: 100;}

  #powerButton{transition: color .5s}
  #powerButton:hover{color:#F95738}